<html>
	<link rel='stylesheet' href='../static/colours.css'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Added Member</title>
	</head>

	<body>

		<div id="container">
			<div id="mainContent">
			<p>&nbsp;</p>
			<img src="../static/addmember.png" width="125" height="125" />
				<p>&nbsp;</p>
				<p>{{ n }} has been added!</p>
				<p>&nbsp;</p>
			<!-- end #mainContent --></div>
			<div id="footer">
				<a href="{{ url_for('home')}}"><img src="../static/logo.png" width="100" height="100" />
			<!-- end #footer --></div>
		<!-- end #container --></div>
	</body>
</html>
