<html>
	<link rel='stylesheet' href='../static/colours.css'>
	<head>
		<title>Details Updated</title>
	</head>
	<body>

		<div id="container">
			<div id="mainContent">
			<p>&nbsp;</p>
			<img src="../static/updatemember.png" width="125" height="125" />
				<p>&nbsp;</p>
				<p>Member {{ i }} has been updated!</p>
				<p>&nbsp;</p>
			<!-- end #mainContent --></div>
			<div id="footer">
				<a href="{{ url_for('home')}}"><img src="../static/logo.png" width="100" height="100" />
			<!-- end #footer --></div>
		<!-- end #container --></div>
	</body>
</html>
