<html>
	<link rel='stylesheet' href='../static/colours.css'>
	<head>
		<title>Update details</title>
	</head>
	<body>
		<h1>Update a member's email/mobile number</h1>
		<p> Range of valid Member IDs: {{fi}} - {{li}}</p>
		<form action="{{url_for('detailsupdated')}}" method="POST">
			<label for="ID">ID:</label>
			<input type="number" required id="memberID" name="memberID" min={{fi}} max={{li}} placeholder = 'enter ID'><br><br>
			<label for="newemail">Updated Email (Enter NULL if no change is needed):</label>
			<input type="text" id="newemail" name="newemail" maxlength='64' placeholder = 'enter email'><br><br>
			<label for="newcontact">Updated Contact (Enter 00000000 if no change is needed):</label>
			<input type="number" id="newcontact" name="newcontact" min="00000000" max="99999999" placeholder = 'enter contact no.'><br><br>
	 <input type="submit" value = "Update">
</form>
<div id="footer">
				<a href="{{ url_for('home')}}"><img src="../static/logo.png" width="100" height="100" />
			<!-- end#footer--></div>
		<!-- end #container --></div>
	</body>
</html>