<html>
	<link rel='stylesheet' href='../static/colours.css'>
	<head>
		<title>Daily Transactions</title>
	</head>
	<body>
		<img src="../static/viewdailytransactions.png" width="125" height="125" />
		<table align='center' border="1" width="400" height="50">
			<tr>
				<td><div align="center"><strong>InvoiceID</strong></div></td>
				<td><div align="center"><strong>MemberID</strong></div></td>
				<td><div align="center"><strong>Date</strong></div></td>
				<td><div align="center"><strong>Name</strong></div>
				<td><div align="center"><strong>Services</strong></div>
				<td><div align="center"><strong>Total Amount</strong></div>
			</tr>
			{% for x in range(ii|length) %}
 
			<tr>
				<td>{{ ii[x] }}</td>
				<td align="center">{{ mi[x] }}</td>
				<td align="center">{{ d[x] }}</td>
				<td align="center">{{ n[x] }}</td>
				<td align="center">{{ ta[x] }}</td>
				<td align="center">{{ t[x] }}adasadaa</td>
			 </tr>
			{% endfor %}
		</table>
		
		
		
		<p>&nbsp;</p>
		<div id="footer">
			<a href="{{ url_for('home')}}"><img src="../static/logo.png" width="100" height="100" />
		<!-- end #footer --></div>
	</body>
</html>